<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBryFmXEKMZyVBjEBPU3SBBNbOTJYbqXZw</string>
	<key>GCM_SENDER_ID</key>
	<string>1070110340760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.e9658b4b3b039795.MaxNotes</string>
	<key>PROJECT_ID</key>
	<string>maxnotes-14097</string>
	<key>STORAGE_BUCKET</key>
	<string>maxnotes-14097.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070110340760:ios:81f91124d7dfc91a6382ed</string>
</dict>
</plist>